*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

.hide{
       display: none;
}
.visible{
    display:flex;
}
header{
    width:100%;
   
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:15px 1rem;
    background-color: rgb(219, 26, 90);
}

header p{
    font-size:24px;
    color:white;
}
header  a{
    text-decoration: none;
}
.wrapper{
    width:100%;
    height:100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url(depositphotos_84003938-stock-photo-final-exam-written-on-a.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    background-color: antiquewhite;
    
}
#inputsearch{
    width:200px;
    padding:0.3rem;
}
#startquiz{
       padding:0.3rem;
       background-color:blueviolet;
       color:white;
       border:none;
}
.screen2{
    background-color:rgb(219, 26, 90);
    width:400px;
    text-align: center;
    color:White;
    padding:1.5rem;
    position:relative;

}
.headpara{
    font-size:22px;
    margin:1rem;
}
.options{
    width:350px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    flex-wrap:wrap;
}
.option{
    width:150px;
    margin:0.5rem;
    background-color:blueviolet;
    padding:0.3rem;
    border-radius:5px;
}
.time{
    position:absolute;
    right:20px;
    top:10px;
    background-color:blueviolet;
    width:30px;
    height:30px;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#nextquestion{
    padding:0.3rem;
    color:white;
    background-color:blueviolet;
}
.screen3{
    background-color:rgb(219, 26, 90);
    padding:2rem;
    width:500px;
    color:white;
}
.lead{
    width:100%;
    display:none
}
.table{
    width: 80%;
    text-align: center;
    margin:auto;
}
.thead,.tbody{
    margin:0.6rem 0;
    border-collapse: collapse;

}
.th,.td{
    border:1px solid black;
    border-collapse: collapse;
}